.row{
    display: flex;
    
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}
.box{
    border: 1px inset ;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    
  }
  .box img{
   object-fit: cover;
    border-radius: 10px;
  
}
  
  .box h3{
    margin: 10px;
    font-size: 20px;
}



.box p{
    font-size: 15px;
    margin: 10px;
}


  .box button{
    margin: 5px 5px;
    padding: 8px 12px;
    border: none;
    background: #6b3e26;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.box button:hover{
    background: #8b5a3c;
}
  
  

