.App-Header{
      background:#5c3a21;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.App-Header li{
    
    display:inline-flex;
    font-size: 20px;
    padding: 10px;
    
}
*{
    margin: 0px;
}
.App-Header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.App-Header a:hover{
    color: #ffd700;
}