
     .App-Header{
    background: #6b3e26;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.App-Header h1{
    font-weight: bold;
    letter-spacing: 1px;
}


.App-Header ul{
    list-style: none;
}

.App-Header li{
    display: inline-block;
    margin-left: 20px;
}

.App-Header a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}


.App-Header a:hover{
    color: #ffd700;
    transform: scale(1.05);
}