
.register-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.register-box {
  width: 350px;
  padding: 35px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  text-align: center;
}


.register-box h2 {
  margin-bottom: 20px;
  color: #6b3e26;
}


.register-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}


.register-box button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background-color: #6b3e26;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.register-box button:hover {
  background-color: #8b5a3c;
}


.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #6b3e26;
  font-weight: bold;
  text-decoration: none;
}